.cmp-four-step__descriptionss {
  padding: 20px;
  border-radius: 10px;
  background-color:rgb(48, 48, 48);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(48, 48, 48);
  text-align: center;
}

.cmp-four-step__descriptionss h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(0.875rem, 1.5625rem, 1.5625rem);
  color: #fe780c;
  margin-bottom: 10px;
  font-weight: bold;
}

.cmp-four-step__descriptionss p {
  font-size: 16px;
  line-height: 1.4;
  color: white;
}
.cmp-buttonss {
  background: linear-gradient(to right, #FE780C, #FE3908);
  color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  margin: 25px 0px 15px 0px;
  font-weight: 600;
  padding: 15px 20px;
  position: relative; 
  overflow: hidden;   
}

.cmp-buttonss:hover {
  box-shadow: 0 0 15px #FE780C, 0 0 20px #FE3908;
}

.cmp-buttonss:hover::after {
  content: url('../Contact_Us/Contact_Us_Assests/carrow2.png');
  position: absolute;
  bottom: 25px;
  right: 5px;
  transform: translateY(50%);
  transition: left 0.3s ease;
  pointer-events: none;
}