.cmp-image-left_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: clamp(10px, 5vw, 40px);
  gap: clamp(10px, 5vw, 20px);
  text-align: center;
}

.cmp-image-left_section img {
  width: clamp(100px, 25vw, 300px);
  height: auto;
  border-radius: clamp(5px, 1vw, 12px);
  box-shadow: 0px clamp(2px, 0.5vw, 6px) clamp(4px, 1vw, 12px) rgba(255, 255, 255, 0.1);
  flex: 0 0 auto;
  order: -1;
}

.cmp-image-left_description {
  flex: 1 1 82px;
  max-width: 60%;
  text-align: justify;
  order: 1;
  display: inline;
}

.cmp-image-left_description p {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(13px, 2vw, 18px);
  line-height: 30px;
  color: #fff;
  text-align: left;
}

.cmp-image-left_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: clamp(10px, 5vw, 40px);
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
}
.description-texts{
  display: none;

  @media (min-width:1024px) {
    display:block;  
  }
}
.cmp-image-description{
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width:1024px) {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top:-250px ;
  }
}

.cmp-image-left_wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: 30px;
    gap:45px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    gap: clamp(20px, 4vw, 40px);
    padding: clamp(20px, 3vw, 40px);
    max-width: 100%;
    box-sizing: border-box;
  }
}

.cmp-image-left_section img {
  width: 75%;
  border-radius: clamp(5px, 1vw, 12px);
  margin-bottom: 40px;
  box-shadow: 0px clamp(2px, 0.5vw, 6px) clamp(4px, 1vw, 12px) rgba(255, 255, 255, 0.1);

  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 40%;    
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    width: 33%;
    height: 300px;
  }
}

.cmp-image-left_description {
  max-width: clamp(280px, 100%, 800px);
  @media (min-width: 768px) {
    margin: 0;
    flex: 1;
  }
}

.cmp-image-left_description p {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(14px, 14px, 18px);
  line-height: 22px;
  font-weight: 100;
  color: #fff;
  margin: 0;
  text-align: left;

  @media (min-width: 768px) {
    text-align: left;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
  }
}